.hide {
            display: none;
        }
        .circle:before {
    content:" ";
    position:absolute;
    width: 1000px;
    height: 1000px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-radius:50%;
    box-shadow:0 0px 0 850px #000;
    opacity: 0;
    animation: growcircle 1.5s linear;
    z-index: 2000;
}
        @keyframes growcircle {
            50%{
                opacity: 0.8;
            }
            100%{
                opacity: 1;
                width: 10px;
                height: 10px;
            }
        }

        .circle2:before {
    content:" ";
    position:absolute;
    width: 1000px;
    height: 1000px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-radius:50%;
    box-shadow:0 0px 0 850px #000;
    opacity: 0;
    animation: growcircle2 1.5s linear reverse;
    z-index: 2000;
}
    @keyframes growcircle2 {

            100%{
                opacity: 1;
                width: 10px;
                height: 10px;
            }
        }
        body {
            margin:0;
            padding:0;
            width:100vw;
            height: 100vh;
            background-image: black;
        }

        .switch1up, .switch2up, .switch3up{
            cursor: pointer;
        }
        audio {
            display: none;
        }

        .switch-glow {
            box-shadow: 10px 10px 5px lightblue;
        }
        /*
        .switch-glow {
            animation: switchglow 2s forwards;
        }
        @keyframes switchglow {
            to{
                filter: drop-shadow(0px 0px 8px rgba(155,155,255,1));
            }
        }*/
        svg {
            position: absolute;
            width: 100vw;
            bottom: 0;
            height: auto;
            z-index: 1000;
            max-height: 100vh;
        }
        .brick{
            width: 100vw;
            background-image: url(../images/bg.svg);
            height: 88vh;
            position: absolute;
            top:0;
            left:0;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -100;
        }
        .floor{
            background-image: url(../images/floor.jpg);
            width: 100vw;
            height: 12vh;
            position: absolute;
            bottom: 0;
            left: 0;
            /*background-color: darkgray;*/
            z-index: -100;
        }



.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;

    animation-iteration-count: 1;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
